<header>
    <div class="topnav">
    <a href="/blog">Blog</a>
    <a href="/music">Music</a>
        <a href="/register" class="split">Register</a>
        <a href="/login" class = "split">Login</a>
    </div> 
</header>