nav ul li a {
    display: inline-block;
    background-color: #f8c291;
    color: #2c3e50;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;    
    font-family: 'Lobster', cursive;
    font-weight: bold; /* Add this line */
}

nav ul li a:hover {
    background-color: #e67e22;
    color: #fff;
}

h1 {
    margin: 0;
    margin-left: 20px;
    font-family: 'Lobster', cursive;
    text-align: center;
}
h2 {
    margin: 0;
    margin-left: 20px;
    font-family: 'Lobster', cursive;
    text-align: center;
}

body {
    background-color: #c9c9c9;
}
p{
    font-size: 20px;
    font-family: 'Lobster', cursive;
    text-align: center;
}