/* blogStyle.css */

/* General styles */
body {
    font-family: 'Courier New', Courier, monospace;
    background: url('6884605.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    filter: contrast(0.8) brightness(0.9);
}

header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #6960a9;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ff7f00;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ffcc00;
}

main {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

h1,
h2 {
    color: #e99c03;
}

p {
    color: #f5f5f5;
}

.post {
    margin-bottom: 20px;
}

.post img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    filter: grayscale(0.5) contrast(1.2);
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #f5f5f5;
    text-align: center;
    padding: 10px;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #e99c03;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #e99c03;
}

main,
header,
footer {
    animation: fadeIn 2s ease-in-out;
}

nav a {
    padding: 12px;
    color: white;
    background-color: #6960a9;
    border-radius: 4px;
    text-decoration: none;
    margin: 0 5px;
    transition: background-color 0.2s ease;
}

nav a:hover {
    background-color: #c28101;
}

@media (max-width: 600px) {
        nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
        width: 100%;
        text-align: center;
    }
    main {
        padding: 10px;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
} /* Moved the closing bracket here */

.responsive-iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: none;
}

/* Subtle animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
