body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

h1 {
    color: #01aeb4;
    text-align: center;
    padding: 20px 0;
}

.fourth {
    cursor: pointer;
    border: 3px solid #01aeb4;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    background: none;
    position: relative;
}

.fourth::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00f7ff;
    z-index: -1;
    transition: width 300ms;
}

.fourth:hover::before {
    width: 100%;
}
button{
    background-color: #01aeb4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}
.button-style {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.button-style:hover {
    background-color: #0056b3;
}