
/* Vintage Newspaper Style */
body {
    font-family: 'Times New Roman', serif;
    background-color: #fafafa;
    color: #444;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 50px;
    font-weight: bold;
    font-size: 2em;
}

nav a {
    padding: 10px;
    color: #444;
    background-color: #eee;
    text-decoration: none;
    margin: 0 5px;
    font-family: 'Courier New', monospace;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #ddd;
}

button {
    background-color: #444;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-family: 'Courier New', monospace;
}

button:hover {
    background-color: #222;
}
