body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

#ui {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
}

canvas {
    display: block;
}