<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coleman's Blog</title>
    <link rel="stylesheet" href="/lofi_style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <button onclick="window.location.href='journal.html'">Faith Journal</button>
            <button onclick="window.location.href='myTestimony.html'">My Testimony</button>
        </ul>
    </nav>
</header>
<main>
    <h1>Welcome to Coleman's Faith Journal</h1>
    <p>Hello! Thank you for checking this out. Here I post my faith journal entries. The journal entries are about my thoughts about my faith and my struggles I have experienced.</p>
</main>
<footer>
    <button onclick="window.location.href='../index.html'">Go Back</button>
    <button onclick="adminLogin()">Admin Login</button>
    <p>&copy; 2023 Coleman's Blog. All rights reserved.</p>
</footer>
</body>
</html>