<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Coleman Website</title>
</head>
<%- include('partials/header') %>

    <body>

        <section class="hero container">
            <h1>Hello, I’m Coleman Stone</h1>
            <p>Music Instructor | Developer | IT Professional</p>
            <a href="#about" class="button">Learn More</a>
        </section>

        <section id="about" class="card">
            <h2>About Me</h2>
            <p>I teach people of all ages to play the piano, guitar, and drums. Along with that I also work as a IT
                Proffesional
                helping people with whatever computer problems that show up. While I am doing all of that work I also
                volunteer at
                my local church by playing in the worship band along with being the tech lead and leader for the student
                ministry basically
                every Sunday night.
            </p>
        </section>

        <section class="quote-block container">
            <p>“Dear friend, do not imitate what is evil but what is good. Anyone who does what is good is from God.
                Anyone who does what is evil has not seen God.” 3 John 1:11 NIV</p>
        </section>

        <section class="cta container">
            <h2>Let’s Connect</h2>
            <p>Want to contact me. Email would be the best way!</p>
            <a href="colemanstone108@gmail.com" class="button">Email Me</a>
        </section>

        <footer>
            <p>© 2025 Coleman Stone. Built by me.</p>
        </footer>
    </body>

</html>