<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href=/public/lofi_style.css>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coleman Stone's Project Website</title>
    <a href="login.html" class="nav-link">Login</a>
    <button id="logoutButton">Logout</button>
</head>

<body>
    <header>
        <h1>Welcome to Coleman Stone's Portfolio</h1>
        <p>I'm a Front-End Programmer / Full-Stack Developer and Musician. Explore my work and projects.</p>
    </header>
    <nav>
        <a href="my_information.html" class="nav-link">Resume</a>
        <a href="https://www.youtube.com/@stonecoleman108" class="nav-link" target="_blank">Youtube</a>
        <a href="Bible_Blog/blog.html" class="nav-link">Faith Journal</a>
        <a href="project_home_page.html" class="nav-link">Projects</a>
    </nav>
    <main>
        <div id="hiddenFeature" style="display: none;">
            <!-- Add your hidden features here -->
            <h2>Hidden Feature</h2>
            <p>This feature is only visible to admins.</p>
        </div>
        <section id="about-me">
            <h2>About Me</h2>
            <p>Currently a student at Indiana University Kokomo, I am passionate about web development, music
                production, and technology. This website showcases my professional journey, skills, and projects.</p>
        </section>

        <h2>My Music</h2>
        <iframe class="responsive-iframe"
        src="https://www.youtube-nocookie.com/embed/videoseries?si=ztVCv2qnRXYh3lY0&amp;list=PLRujzlDeMOhuygB0pCd7ZTCOjKPAMu2ip"
        title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>
    </main>
</body>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var isAdminLoggedIn = localStorage.getItem('isAdminLoggedIn');
        if (isAdminLoggedIn === 'true') {
            var hiddenFeature = document.getElementById('hiddenFeature');
            if (hiddenFeature) {
                hiddenFeature.style.display = 'block'; // Make the feature visible
            }
        }
    });

    document.getElementById('logoutButton').addEventListener('click', function () {
        // Clear the login status
        localStorage.removeItem('isAdminLoggedIn');

        // Optionally, redirect to the homepage or login page
        window.location.href = 'index.html'; // Adjust the URL as needed
    });
</script>

</html>