<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/lofi_style.css">
    <title>Faith Journal</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <button onclick="window.location.href='/Bible_Blog/journal'">Faith Journal</button>
                <button onclick="window.location.href='/Bible_Blog/myTestimony'">My Testimony</button>
                <button onclick="window.location.href='/Bible_Blog/blog'">Go Back</button>
            </ul>
        </nav>
    </header>
    <h1>Coleman's Faith Journal</h1>
    <main>
        <h2>11/05/24</h2>
        <p>I feel like it's appropriate to talk about my faith today considering it's the 2024 election day. I'm not
            going to talk about my views on politics. I'm wanting to talk about
            how Christians should act around people with different views on politics. "In the same way you judge others,
            you will be judged, and with the measure you use, it will be measured to you." Matthew 7:1-2
            This verse from the book of Matthew is saying the way you judge people about something you may not agree
            with will also be judged onto you from someone else. Bringing that into politics, there are people who
            will completely throw away family and friends because they judge them for not voting the same way as them.
            To me the act of leaving family and friends just because of the way they vote is far from being a "true"
            Christian.
            "Be kind and compassionate to one another, forgiving each other, just as in Christ God forgave you."
            Ephesians 4:32</p>
        <h2>11/06/24</h2>
        <p>My entire life I have had one thing always be there and that one thing is music. "Whatever you do, work at
            it with all your heart, as working for the Lord, not for human masters, since you know that you will receive
            an inheritance from the Lord as a reward." Colossians 3:23-24.
            This verse is always in the back of my mind whenever I am playing music either on stage or alone. Ever since
            I started learning piano when I was about 4 or 5, I haven't stopped. I learned guitar and drums along the
            way to today. I am able to use that gift God gave me to worship him in a way
            where I feel connected to him whenever I play on Sundays. Even when I am playing metal songs on guitar I
            still feel that connection, the excitement when I finally learn the riff or solo is the same feeling I get
            when I just get up and play music almost every Sunday.</p>
        <h2>11/10/25</h2>
        <p>I have never had an "experience" with God or the Holy Spirit in the sense of hearing or seeing God clear as
            day. But I do have something that I do experience. Whenever I have something weigh on my mind, I have vivid
            dreams about that situation. It could be me playing a new song or even asking someone to go and do
            something. No matter what it is,
            it either goes good or very, very bad. There has never been a thing that went bad in my dream actually go
            bad when it happens in my life. But the things I worry about going wrong appear in my dreams tend to go
            good. It also goes good in real life after that. "May the God of hope fill you with joy and peace as you
            trust in him, so that you may overflow with hope by the power of the Holy Spirit." Romans 15:13.
            This verse makes me think those vivid dreams I have is the Holy Spirit working in me to make me more
            confident and not question myself.</p>
        <h2>11/14/24</h2>
        <p>"A generous person will prosper; whoever refreshes others will be refreshed." Proverbs 11:25. This is the
            daily verse on my bible app today. To me this verse should be more popular as Philippians 4:13 because
            Proverbs 11:25 is talking about being generous to other people. You never know what other people are going
            through. Someone could be having the worst time of their life and one compliment could change their day and
            can impact how people
            feel about themselves. It doesn't take any energy to be kind, doesn't take any energy to talk to someone
            new. That being said I hope whoever reads this. I hope you have a good day.</p>
        <h2>11/20/24</h2>
        <p>"The people walking in darkness have seen a great light; On those living in the land of deep darkness a light
            has dawned." Isaiah 9:2. This verse is a powerful verse to me because it is speaking to people who might
            feel like the things they have done or said makes them unforgivable. When in reality Jesus went for the
            people like Mary who was possessed and used them to show the true love of God. That same ideology stands
            today. The people who might
            be in the darkest point in their life can still be loved the same as the most religious.</p>
        <h2>11/25/24</h2>
        <p>"Going on from that place, he went into their synagogue, and a man with a shriveled hand was there. Looking
            for
            a reason to bring charges against Jesus, they asked him "Is it lawful to heal on the sabbath?" he said to
            them, "If any of you have a sheep and it falls into a pit on the sabbath. Will you not take hold of it and
            lift it out? How much more valuable is a person than a sheep! Therefore it is lawful to do good on the
            sabbath." Matthew 12:9-12.
            This is multiple verses showing how many people tried to charge Jesus and show people he didn't do anything
            good and faked his miracles. To me the fact multiple eyewitness testimonies that all say the same thing
            makes me believe in all the good Jesus did and the fact he rose from the dead. The fact Jesus did things
            that even today can't be explained in the eyes of science. It's powerful. It's the greatest miracle to ever
            happen apart from God creating humans.</p>
        <h2>12/03/24</h2>
        <p>"For where your treasure is, there your heart will be also." Matthew 6:21. To me this verse is powerful
            because I believe things you hold close to your heart like close friends and family is something that is
            worth more than any treasure this world can offer. To me people who hold things like money or status over
            family are the ones who will always be lonely no matter who they surround themselves with.</p>
        <h2>12/09/24</h2>
        <p>"As the Father has loved me, so have I loved you. Now remain in my love. If you keep my commands, you will
            remain in my love, just as I have kept my Father's commands and remain in his love. I have told you this so
            that my joy may be in you and that your joy may be complete." John 15:9-11. I read these verses to always
            remind myself that if I just keep my faith in the Lord, keep my promises to myself that I told just follow
            what the Lord has commanded I will lead a life of following him as best as I can.
        </p>
        <h2>12/14/24</h2>
        <p>""For I know the plans I have for you," declares the Lord. "Plans to prosper you and not to harm you, plans
            to
            give you hope and a future." Jeremiah 29:11. This verse is one of them that to me is a staple in my faith.
            The fact the Lord has a plan for me gives me some peace in mind for where my life will end up. Even though I
            stress about my love life, my career, and anything else that changes throughout life. I know God has a plan
            for it all.</p>
        <h2>12/16/24</h2>
        <p>Something I think about from time to time is the fact whenever I read about the disciple Matthew, I find
            things about him that I can relate to in a way. "These are the names of the twelve apostles: first, Simon
            (who is called Peter) and his brother Andrew; James son of Zebedee, and his brother John; Philip and
            Bartholomew; Thomas and Matthew the tax collector; James son of Alphaeus, and Thaddaeus;" Matthew 10:2-3.
            This verse to me shows that even though Matthew at that point in his life was a completely different man
            than
            the one before Jesus let him follow him. He still sees himself as the tax collector. It's something that
            would always be a part of himself. Even though it's not him anymore. Sometimes I find myself slipping into
            the
            mindset and see myself as the one before I truly met Jesus. I slip out of that fast but when I read
            Matthew 10:2-3 for the first time I really felt like what I thought Matthew felt like whenever he would
            refer
            to himself as the tax collector.</p>

        <h2>12/31/24</h2>
        <p>As 2024 comes to an end I just want to reflect on how I have grown and say what I hope happens in 2025. First
            I made the only new year's resolution for 2024 to grow closer and live more like Jesus Christ. It was
            something I had to struggle with physically, mentally, and spiritually. Physically I wanted to do more with
            my faith and the big things I did was step up in my youth group at my church and be someone the students can
            look upon me as someone who they can feel safe with. Mentally I wanted to see how my relationships with
            everyone I knew affected me in my faith. I made a couple of amazing friends this year who are faith-focused
            and without them knowing has allowed myself to have some people I can have around me and form new bonds,
            memories, and hopefully keep growing in our faiths together. Spiritually I have opened myself up to Jesus
            the most I ever have in my life. I can say without a doubt this is the closest I have ever been to Jesus in
            my life. Now what I hope to happen in 2025. I want to finish college, get my degree, find a good job, and
            hopefully get closer to some people and God. God Bless Everyone!</p>

        <h2>01/03/25</h2>
        <p>"Therefore I tell you, do not worry about your life, what you will eat or drink; or about your body, and what
            you will wear. Is not life more than food, and the body more than clothes?" Matthew 6:25. In today's world
            people tend to show off things like the types and brands of clothes they wear. The price and "freshness" of
            their food. And even who they are dating. To me if someone actually likes something that would be classified
            as luxury then let them buy it. But someone who buys things just because it is luxury are fake in terms of
            who they portray themselves. When it comes to the dating world a lot of relationships end up in a break up
            because they "liked" each other but was just dating to look good in other people's eyes. When people have
            too
            many requirements for someone to date them will always end up in either a break up or just never finding
            someone "perfect" for them. To me I don't care if my future wife might not be the most fit person, has
            things about them that might turn other men to look away. I just want to love someone who is themselves.
            More
            people in this world need to learn that people don't care about everything about you. Just like Matthew 6:25
            says, "Is not life more than food, the body more than clothes?."
        </p>

        <h2>01/15/25</h2>
        <p>"You have heard that it was said, 'Love your neighbor and hate your enemy.' But I tell you, love your enemies
            and pray for those who persecute you," Matthew 5:43-44. What is the point of holding hate in your heart.
            What is the purpose of letting people get to you. There is nothing to benefit a single person that has
            existed, currently exists, and will ever exist when you hate someone. All you end up doing is obsessing over
            whatever it was the person did to make someone hate them. As I am living my life as close to as Jesus lived
            his I have learned to not get mad at things that are out of my hands. Yea I get mad and annoyed but I know
            how I can control that. The things Jesus got mad at were things like merchants in synagogues and a single
            fig tree that wouldn't produce fruit.
        </p>
        <h2>01/21/25</h2>
        "How can a young person stay on the path of purity? By living according to your word." Psalms 119:9. As a young
        adult just starting my life, living while trying to follow Christ can be hard. One example would be my
        experience with relationships. As of writing this I have never been in a relationship mainly because I want to
        find the "one" you can say. I don't want to get into a relationship not knowing the person like a friend first.
        The idea of a relationship is being with someone I want to grow old with. Someone who also wants the same with
        me. If it takes 2-4...10 years to find that person so be it. Being young today people throw around the notion of
        "your young go have fun." Yea I want to have fun but not in the way most people say that mean. A life has
        multiple parts to it. From birth to death there are millions of things to do. I want to do everything I want to
        do but also follow Christ. Doing that has made me not do things like going to college parties, experiment with
        things, and not date every girl I have met. Just some thoughts from my daily bible verse.

        <h2>02/06/25</h2>
        <p>"But as for you, be strong and do not give up, for your work will be rewarded." 2 Chronicles 15:7. To me the
            hardest things about being a Christian is the feeling that I have to do everything perfect and sinless. I
            have a hard time distinguishing between emotions. In certain situations I have no idea how to feel in the
            moment. If you have ever talked to me and it feels awkward or just weird. That's the reason. The reason I
            bring this up is because I tend to overthink relationships and how I feel about people. I overthink if I
            said the wrong thing in situations, and I overthink my feelings after things happen. For example, the last
            time I fully opened my feelings to a girl I liked in high school they didn't feel the same way and I just
            got
            lost because I didn't know how to feel about it. I spiraled and overthought the entire situation. I
            eventually
            pulled myself away from her because I felt like I was never going to get over her. Ever since then I am
            terrified of that happening again. What does this have to do with 2 Chronicles 15:7? I eventually prayed
            over and over again for the Lord to help me through it. I was strong, I didn't give up, but I don't think I
            have been rewarded. Not to be like I deserve one, I just think the "reward" has not yet to be
            revealed. Anyway if you have read this far I hope you learned something new about me. If you are "religious"
            remember on bad days, weeks, and even years something is bound to happen. If you are not "religious" just
            know God loves you no matter what. God bless!
        <p>
        <h2>02/11/25</h2>
        <p>"On sabbath Jesus was teaching in one of the Synagogues, and a woman was there who had been crippled by a
            spirit for eighteen years. She was bent over and could not straighten up at all. When Jesus saw her, he
            called her forward and said to her, 'Woman, you are set free from your infirmity.' Then he put his hands on
            her, and immediately she straightened up and praised God. Indignant because Jesus had healed on the sabbath
            the
            synagogue leader said to the people, 'There are six days for work. So come and be healed on those days, not
            on the sabbath.'" Luke 13:10-14. Something I think about are the people who needed healed on the sabbath
            before Jesus. The idea of not helping someone in need just because it's the sabbath is just wrong. If the
            woman knew Jesus was in that synagogue on that sabbath day and needed healing she did the right thing as
            going to someone who could help. Who knows if she would have been saved if she waited until the day after.
            Jesus might have left. She could have not made it to the next day. It's the same thing as the analogy of the
            shepherd with an injured sheep. Will he heal it on the sabbath or let it suffer until the day after.
        </p>
        <h2>02/13/25</h2>
        <p>I know that I tend to talk about relationships a lot in my journal but it's just the thing on my mind the
            most
            right now. I see so many people I went to high school with getting married and having kids. That's all I
            ever
            wanted to do with my life. Be able to provide for my wife let her live the life she wants while also coming
            home to a loving home. I want to raise my kids to have a childhood I never had. But with how my life has
            been going I don't think it's going to happen. I don't want to confess my love with the scare of the person
            not feeling the same. And that terrifies me to the point of convincing myself that I'm not good enough. What
            does that have to do with my faith? People tell me and others in a similar boat to wait and God will reveal
            someone to me. I don't like that because I am a very anxious person. I get in my head about everything.
            Someone takes too long to text back it being text about work or something personal I think of the worst
            thing every time. I pray and pray but it never gets better. Then that one person responds and that all
            goes away. I want to say everything I want to that person but I'm too scared. Trust in God people say. But
            God made me in that way to overthink and be scared. I just wish it would work the way I want but I'm just
            scared. </p>
        <h2>02/25/25</h2>
        <p>"When I am afraid, I put my trust in you." Psalms 56:3. "Commit everything you do to the Lord. Trust him, and
            he will help you." Psalms 37:5. "Don't worry about anything; instead, pray about everything. Tell God what
            you need, and thank him for all he has done." Philippians 4:6. I have had such a weird week in terms of
            relationships. To start I myself have taken a step back from long term friends for a lot of reasons. One
            being I hated the person I was when I talked and hung out with them. I prayed about it so many nights and
            one day I just stopped talking to them. It was hard. I wrestled with it but that's in the past. The next
            thing is about another relationship that might have ended. I'm not sure exactly but it hurt me the most
            because I grew so attached that all I could think of was her. Things happen that I am not going to get into
            here but... I put my faith in God to tell me what to do. But I "Never" got an answer. I waited too long to
            say things and I regret that. I said them at the absolute worst time. I hated God for letting me develop the
            feelings I have knowing how it was going to turn out. But I continue to pray because I don't think that
            bridge is burned fully yet. Anyway always remember God loves you and all your sin, trauma, and anything else
            that you might feel down about. God Bless! </p>
        <h2>03/04/25</h2>
        <p>"He personally carried out sins in his body on the cross so that we can be dead to sin and live for what is
            right. By his wounds you are healed." 1 Peter 2:24. "For the wages of sin is death, but the free gift of God
            is eternal life through Christ Jesus out Lord." Romans 6:23. Sin is something I don't see very many people
            talk about in depth very often. Let alone period. I think its dumb not to. Out current existence could be
            blamed on sin depending on how you see Genesis. I believe God the creator made everything perfect in Eden
            knowing full well Adam and Eve was going to eat the apple. I see that as the first sin. But even then God
            didn't come and belittle them, punish them, or even raised his voice. Yea he kicked them out of Eden, but
            did it in a kind way. Adan and Even went on to have Cain. The man who would commit the first murder out of
            jealosy one of the seven deadly sins. Did God kill him, scream at him. NO! He put a mark on him so people
            knew what he did and if anyone killed him they would be avenged sevenfold. Little side note thats where my
            favorite band got their name. I'm saying all of of this because people see sin as something bad. But I am of
            the belief sometimes sin just happens. Life is hard. You have ups and downs that happen from birth to death.
            You can prevent certain sin. But all sin is always forgive through Christ. He dies so we could all live out
            lives. Then he rose 3 days later to show the power he had. Anyway just some thoughts. God Bless!</p>
    </main>

</body>

</html>