<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lofi_style.css">
    <title>Coleman Stone's Resume</title>
</head>

<body>
    <header>
        <h1>Coleman Stone</h1>
        <p>Front-End Programmer / Full-Stack Developer | Musician | IT Specialist</p>
    </header>
    <main>
        <section id="bio">
            <h2>Bio</h2>
            <img src="IMG_0070.jpg" alt="Coleman Stone"
                style="width: 200px; height: auto; float: right; margin-left: 20px;">
            <p>I am currently a student at Indiana University Kokomo, studying to become a front-end programmer /
                full-stack developer and all IT work. Proficient in Java, Python, HTML, CSS, PHP. Experienced in music
                production with over 16 years of playing music.</p>
        </section>
        <section id="contact">
            <h2>Contact Information</h2>
            <p>Email: <a href="mailto:Stonecoleman4563@gmail.com">Stonecoleman4563@gmail.com</a></p>
            <p>Phone: <a href="tel:+17652713822">765-271-3822</a></p>
        </section>
        <section id="education">
            <h2>Education</h2>
            <p>Indiana University Kokomo, Computer Science, Expected Graduation: 2025</p>
        </section>
        <section id="experience">
            <h2>Work Experience</h2>
            <p>Rhum Academy of Music, Music Instructor, 2022 - 2024</p>
            <p>MissionMSP, Help Desk Technician, 2025 - Present
            <p>
        </section>
        <section id="volunteer">
            <h2>Volunteer Experience</h2>
            <p>Indiana University Kokomo, Computing Club VP, 2023- Present</p>
            <p>Bridgeway Church, Band Member, Audio Mixing, Student Volunteer, 2021- Present</p>
            <section id="skills">
                <h2>Skills</h2>
                <ul>
                    <li>Programming: Java, Python, HTML, CSS, PHP, MySQL</li>
                    <li>Music: Production, Theory, Performance, Composition, Arrangement, Mixing</li>
                    <li>Technical: Computer Building, Computer Repair</li>
                    <li>Software: Excel, Word, PowerPoint, Outlook</li>
                </ul>
            </section>
    </main>
    <footer>
        <button onclick="window.location.href='index.ejs'">Go Back</button>
    </footer>
</body>

</html>