<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/lofi_style.css">
    <title>Project Home Page</title>
</head>
<body>
    <header>
        <h1>Coleman Stone's GitHub Projects</h1>
    </header>
    <main id="repo-list">
        <!-- Repositories will be dynamically inserted here -->
    </main>
    <script src="project_home_page.js"></script>
</body>
<footer>
    <button onclick="window.location.href='colemanstone.github.io/public/index.html'">Go Back</button>
</footer>
</html>
